@media ( max-width: 1813px ) {
    body { }
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20vh; left: 46vw; color: ; font-size: 4.5em; font-weight: 600; font-family: 'Noto Serif', serif; font-weight: 800;}
    .maintext02{position: absolute; top: 16.3vh; left: 88vw; color: ; font-size: 2.7em; font-weight: 500; font-family: 'Noto Serif KR', serif; font-weight: 700;}
    .daytext{position: absolute; top: 63.6vh; left: 2%; color:#403548; font-size: 2.8em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 70vh; left: 2%; color:#403548; font-size: 2.5em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 77.4vh; left: 2%; color:#403548; font-size: 1.5em; font-weight: 100; font-family: 'Noto Serif KR', serif; }
    
    @media ( max-width: 1753px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20vh; left: 47vw; color: ; font-size: 4.3em; font-weight: 600; font-family: 'Noto Serif', serif; font-weight: 800;}
    .maintext02{position: absolute; top: 16.9vh; left: 88.6vw; color: ; font-size: 2.5em; font-weight: 500; font-family: 'Noto Serif KR', serif; font-weight: 700;}
    .daytext{position: absolute; top: 66vh; left: 2%; color:#403548; font-size: 2.5em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 71.3vh; left: 2%; color:#403548; font-size: 2.3em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1.3em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1697px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 46.8vw; color: ; font-size: 4.2em; font-weight: 600; font-family: 'Noto Serif', serif; font-weight: 800;}
    .maintext02{position: absolute; top: 17.4vh; left: 89.5vw; color: ; font-size: 2.3em; font-weight: 500; font-family: 'Noto Serif KR', serif; font-weight: 700;}
    .daytext{position: absolute; top: 66.2%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 71.5%; left: 2%; color:#403548; font-size: 2.1em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1607px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 54vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif; font-weight: 800;}
    .maintext02{position: absolute; top: 16.9vh; left: 90.5vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif; font-weight: 700;}
    .daytext{position: absolute; top: 65.2%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 71.3%; left: 2%; color:#403548; font-size: 1.9em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1.1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1572px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 53vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 16.9vh; left: 90.3vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1539px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 52vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 15%; left: 90.3vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1507px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 51vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 15%; left: 89.8vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1476px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 49vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 15%; left: 88.8vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1418px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 47.5vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 15%; left: 89vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1377px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 46vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 15%; left: 88.4vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1339px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 44.5vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 15%; left: 88.4vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1303px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 42.4vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 15%; left: 87.5vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1255px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 40.4vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 15%; left: 87vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1213px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 38vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 15%; left: 86vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1166px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 35.6vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 15%; left: 86vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1123px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 33.6vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 15%; left: 86vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1089px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 31.7vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 15%; left: 85.3vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1063px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 30vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 15%; left: 85.3vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    
    @media ( max-width: 1033px ) {
    .line01{max-width: 100%; position: relative; top: 0; left: 0;}
    .line02{max-width: 100%; position: relative; top: -500px; left: 0;}
    .line03{max-width: 100%; position: relative; top: -800px; left: 0;}
    .maintext01{position: absolute; top: 20%; left: 28vw; color: ; font-size: 3.5em; font-weight: 600; font-family: 'Noto Serif', serif;}
    .maintext02{position: absolute; top: 15%; left: 84.6vw; color: ; font-size: 2.2em; font-weight: 500; font-family: 'Noto Serif KR', serif;}
    .daytext{position: absolute; top: 63%; left: 2%; color:#403548; font-size: 2.2em; font-weight: 400; font-family: 'Noto Serif', serif;}
    .subtext01{position: absolute; top: 72%; left: 2%; color:#403548; font-size: 1.2em; font-weight: 200; font-family: 'Noto Serif', serif;}
    .nametext{position: absolute; top: 78%; left: 2%; color:#403548; font-size: 1em; font-weight: 100; font-family: 'Noto Serif KR', serif;}
    }
    